<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signIn</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <img class="signIn" src="../assets/img/signin.png" alt="signIn">
  </div>
  <div class="logIn">
    <form action="">
    <div>
      <ion-icon name="person"></ion-icon>
      <input type="text" name="username" placeholder="Username" required>
    </div>
    <div>
      <ion-icon name="lock-closed"></ion-icon>
      <input type="password" name="password" placeholder="Password" required>
    </div>
    
    <p>New member? <a routerLink="/sign-up">Sign up</a></p>
    <ion-button type="Submit" routerLink="/pet-services" fill=clear><ion-icon class="arrow" name="chevron-forward-outline"></ion-icon></ion-button>
    </form>
  </div>
  
</ion-content>
