<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signIn</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <img class="signIn" src="../assets/img/signin.png" alt="signIn">
  </div>
  <div class="logIn">
    <div class="log1">
      <ion-icon name="call-outline"></ion-icon>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="log2">
      <ion-icon name="lock-closed-outline"></ion-icon>
      <input type="password" name="password" placeholder="Password">
    </div>
    
    <p>New member? <span >Sign up</span></p>
    
  </div>
  <ion-button fill=clear><ion-icon class="arrow" name="chevron-forward-outline"></ion-icon></ion-button>
</ion-content>
