<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-title>Pet Services</ion-title>
      <img class="arrow" src="../assets/img/arrow.png" alt="Arrow">
    </div>
  </ion-toolbar>
</ion-header>

<!-- <div class="header">
  <ion-title>Pet Services</ion-title>
  <img class="arrow" src="../assets/img/arrow.png" alt="Arrow">
</div> -->
<ion-content>
  
  <p>What are you looking for?</p>
  <div class="mid">
    <div class="outer">
      <div>
        <ion-button routerLink="/pet-walkers" fill="clear">
          Pet Walker
        </ion-button>
      </div>
      <div>
        <ion-button routerLink="/pet-sitters" fill="clear">
          Pet Sitter
        </ion-button>
      </div>
      
    </div>
  </div>
  <div class="footer">

  </div>
  
</ion-content>
