<ion-header>
  <ion-toolbar>
    <ion-title>Pet Walkers</ion-title>
    <img class="arrow" src="../assets/img/arrow.png" alt="Arrow">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label class="label">Pet Walker</ion-label>
      <ion-icon name="ellipse"></ion-icon>
    </ion-item>
    
  </ion-list>
  <div class="footer">
    <ion-button class="btn1" fill="clear">
      <ion-icon class="menu" name="menu"></ion-icon>
    </ion-button>
    <ion-button class="btn2" fill="clear">
      <ion-icon class="petWalker" name="paw"></ion-icon>
    </ion-button>
    <ion-button class="btn3" fill="clear">
      <ion-icon class="petSitter" name="bed"></ion-icon>
    </ion-button>
  </div>
</ion-content>
