<ion-header>
  <ion-toolbar>
    <ion-title>Pet Sitters</ion-title>
    <img class="arrow" src="../assets/img/arrow.png" alt="Arrow">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <a routerLink="/profile" *ngFor="let sitter of sitters">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{sitter.image}}">
        </ion-avatar>
        <ion-label class="label">{{sitter.full_name}}</ion-label>
        <ion-icon name="ellipse"></ion-icon>
      </ion-item>
    </a>
    
    
  </ion-list>
  <div class="footer">
    <ion-button routerLink="/home" class="btn1" fill="clear">
      <ion-icon class="menu" name="menu"></ion-icon>
    </ion-button>
    <ion-button routerLink="/pet-walkers" class="btn2" fill="clear">
      <ion-icon class="petWalker" name="paw"></ion-icon>
    </ion-button>
    <ion-button routerLink="/pet-sitters" class="btn3" fill="clear">
      <ion-icon class="petSitter" name="bed"></ion-icon>
    </ion-button>
  </div>
</ion-content>
