<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signIn</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header">
    <img class="signUp" src="../assets/img/signup.png" alt="signIn">
  </div>
  <div class="logIn">
    <div >
      <ion-icon name="person"></ion-icon>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div>
      <ion-icon name="lock-closed"></ion-icon>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div>
      <ion-icon name="call"></ion-icon>
      <input type="text" name="phone_num" placeholder="Phone Number">
    </div>
    <div>
      <ion-icon name="location"></ion-icon>
      <input type="text" name="address" placeholder="Address">
    </div>
    
    <p>Already have an account? <a routerLink="/sign-in">Sign in</a></p>
    
  </div>
  <ion-button type="Submit" routerLink="/pet-services" fill=clear><ion-icon class="arrow" name="chevron-forward-outline"></ion-icon></ion-button>
</ion-content>
