@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:wght@300&family=Revalia&display=swap');

.header{
    display: flex;
    justify-content: center;

}

.signUp{
    margin-top: 3em;
    width: 80%;
}
.logIn{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

ion-icon{
    width: 50px;
    height: 35px;
    color: #84677E;
    position: relative;
    top: 8px;
}

input{
    background-color: white;
    border: 0;
    height: 50px;
    border-bottom: 3px solid #84677E;
    border-left: 3px solid #84677E;

}
::placeholder{
    color: transparent; 
    text-shadow: 0 0 3px #84677E;
    padding-left: 1em;
    font-family: 'Montserrat', sans-serif;
}
p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #74226C;
    margin-top: 3em;
    font-size: 0.9em;
}

a{
    color: inherit;
    font-weight: bold;
}
a:hover{
    color: #84677E;
    font-style: italic;
}
ion-button{
    float: right;
    margin-right: 2em;
    background-color:#74226C;
    border: 4px solid #fcdcf8;
    box-shadow: 4px 5px #888888;
    border-radius: 50%;
    cursor: pointer;
    height: 50px;
    width: 60px;
  }
  .arrow{
    color:#fcdcf8;
    top: 0;
    padding-top: 0;
  }