<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="toolbar">
      <ion-title>Profile</ion-title>
      <img class="arrow" src="../assets/img/arrow.png" alt="Arrow">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <ion-card>
      <div class="prof">
        <ion-card-header>
          <img src="{{details.walkers2[0].image}}" alt="Profile Picture">
          <ion-card-subtitle>Pet Walker</ion-card-subtitle>
          <ion-card-title>{{details.walkers2[0].full_name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <p>Age: {{details.walkers2[0].age}}</p>
          <p>Served: {{details.walkers2[0].served}}</p>
          <p>Rate: {{details.walkers2[0].rate}}</p>
          <p>Status: {{details.walkers2[0].status}}</p>
          <p>Phone Number: {{details.walkers2[0].phone_num}}</p>


        </ion-card-content>
      </div>
    </ion-card>
    <ion-button fill="clear">Contact Now</ion-button>
  </div>
  <div class="footer">
    <ion-button routerLink="/home" class="btn1" fill="clear">
      <ion-icon class="menu" name="menu"></ion-icon>
    </ion-button>
    <ion-button routerLink="/pet-walkers" class="btn2" fill="clear">
      <ion-icon class="petWalker" name="paw"></ion-icon>
    </ion-button>
    <ion-button routerLink="/pet-sitters" class="btn3" fill="clear">
      <ion-icon class="petSitter" name="bed"></ion-icon>
    </ion-button>
  </div>
</ion-content>