<ion-header>
  <ion-toolbar>
    <div class="toolbar">
      <ion-title>Profile</ion-title>
      <img class="arrow" src="../assets/img/arrow.png" alt="Arrow">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <ion-card>
      <div class="prof">
      <ion-card-header>
        <img src="../assets/img/prof.jfif" alt="">
        <ion-card-subtitle>Pet Walker</ion-card-subtitle>
        <ion-card-title>Reina Bitar</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        
          <p>Age: 20</p>
          <p>Served: 232</p>
          <p>Rate: 4.6</p>
          <p>Status: Available</p>
          <p>Phone Number: 70712994</p>
          
        
      </ion-card-content>
    </div>
    </ion-card>
    <ion-button fill="clear">Contact Now</ion-button>
  </div>
  <div class="footer">
    <ion-button routerLink="/home" class="btn1" fill="clear">
      <ion-icon class="menu" name="menu"></ion-icon>
    </ion-button>
    <ion-button routerLink="/pet-walkers" class="btn2" fill="clear">
      <ion-icon class="petWalker" name="paw"></ion-icon>
    </ion-button>
    <ion-button routerLink="/pet-sitters" class="btn3" fill="clear">
      <ion-icon class="petSitter" name="bed"></ion-icon>
    </ion-button>
  </div>
</ion-content>
