@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:wght@300&family=Revalia&display=swap');
ion-toolbar{
    --ion-color: #74226C;
    border: 3px solid #fcdcf8;
    border-radius: 5px;
}
ion-title{
    color: #fcdcf8;
    font-family: 'Marcellus SC', serif;
    font-size: 1.7em;

}
.arrow{
    float: right;
    position: relative;
    bottom: 1.5em;
    width: 80px;
    margin-right: 10px;
}
.label{
    font-family: 'Revalia', cursive;
    color: #74226C;
    font-size: 1em;
}
.card{
    display: flex;
    
}
ion-card{
    margin-top: 1.8em;
    font-family: 'Revalia', cursive;
    
}
ion-card-title{
    color: #74226C;
}
ion-card-subtitle{
    color: #84677E;
}
p{
    font-size: 0.8em;
    font-family: 'Revalia', cursive;
    color: #74226C;
}
ion-button{
    margin-top: 10px;
    color: #fcdcf8;
    background-color: #74226C;
    border-radius: 5px;
    font-family: 'Marcellus SC', serif;
}
.footer{
    display: flex;
    background-color: #74226C;
    height: 70px;
    width: 280px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}
.menu{
    width: 60px;
    height: 50px;
    color: #fcdcf8;
}
.petWalker{
    width: 60px;
    height: 50px;
    color: #fcdcf8;
}
.petSitter{
    width: 60px;
    height: 50px;
    color: #fcdcf8;
}
.btn1{
    width: 27%;
}
.btn2{
    width: 27%;
}
.btn3{
    width: 27%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.prof{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}