@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat:wght@300&family=Revalia&display=swap');
ion-content {
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
}

.toolbar{
    background-color: #74226C;
    border: 3px solid #fcdcf8;
    border-radius: 5px;
    height: 75px;
}
ion-title{
    color: #fcdcf8;
    font-family: 'Marcellus SC', serif;
    font-size: 1.7em;
    margin-top: 10px;
}
.arrow{
    float: right;
    position: relative;
    bottom: 1.5em;
    width: 80px;
    margin-right: 7px;
}
.label{
    font-family: 'Revalia', cursive;
    color: #74226C;
    font-size: 1em;
}
ion-icon{
    width: 15px;
    height: 15px;
    color: green;
}
a{
    text-decoration: none;
}
.footer{
    display: flex;
    background-color: #74226C;
    height: 70px;
    width: 280px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    padding-top: 10px;
}
.menu{
    width: 60px;
    height: 50px;
    color: #fcdcf8;
}
.petWalker{
    width: 60px;
    height: 50px;
    color: #fcdcf8;
}
.petSitter{
    width: 60px;
    height: 50px;
    color: #fcdcf8;
}
.btn1{
    width: 27%;
}
.btn2{
    width: 27%;
}
.btn3{
    width: 27%;
}
.list{
    position: relative;
    bottom: 3.5em;
}